.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.magic-button {
  padding: 15px 30px;
  font-size: 16px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  
  /* Cor do botão */
  background-color: #007BFF;
  
   /* Suaviza a transição de propriedades */
  transition: all 0.3s ease;

  /* Sombra inicial */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.magic-button:hover {
  /* Cor mais escura ao passar o mouse */
  background-color: #0056b3;
  /* Move o botão um pouco para cima */
  transform: translateY(-5px);
  /* Sombra maior e mais escura */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
